<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Fasm.NET" version="1.70.03" targetFramework="net461" />
  <package id="GameOverlay.Net" version="4.3.0" targetFramework="net461" />
  <package id="ImGui.NET" version="1.72.0" targetFramework="net461" />
  <package id="Memory.dll" version="1.2.19" targetFramework="net461" />
  <package id="MemorySharp" version="1.2.0" targetFramework="net461" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.3" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="NativeLibraryLoader" version="1.0.10" targetFramework="net461" />
  <package id="NETStandard.Library" version="1.6.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="SharpDX" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.D3DCompiler" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net461" />
  <package id="SharpDX.Direct3D11" version="4.0.1" targetFramework="net461" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net461" /> 
</packages>